ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  li {
    
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: darkcyan;
  }
  body {
    background-image: url("https://wallpaperaccess.com/full/175937.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .contact-section {
    max-width: 600px;
    margin: 200px auto;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    
    border-radius: 10px;
  }
  
  .contact-section h1 {
    color: antiquewhite;
    font-style: italic;
  }
  
  .contact-section p,
  .contact-section a {
    color: azure;
    font-size: 18px;
    text-decoration: none;
  }
  
  .contact-section a:hover {
    text-decoration: underline;
  }
  
  @media only screen and (max-width: 768px) {
    .contact-section {
      margin: 100px 20px;
      font-size: 18px;
    }
  
    .contact-section h1 {
      font-size: 24px;
    }
  
    .contact-section p {
      font-size: 16px;
    }
  }
  